@using MvcKutuphane.Models.Entity
@model List<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-bordered">
    <tr>
        <th>ÜYE ID</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>

        <th>FOTOĞRAF</th>
     
        <th>OKUL BİLGİLERİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>Üye Kitap Geçmişi</th>
    </tr>
    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.FOTOGRAF</td>
            <td>@uye.OKUL</td>
            <td><a href="/Uye/UyeSil/@uye.ID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-success">GÜNCELLE</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@uye.ID" class="btn btn-success" style="background-color:lightseagreen">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>